<!DOCTYPE html>
<html>
	<%= render 'layouts/components/head' %>
	<body class="<%=params[:controller]%> <%=params[:action]%>">
		<%= render 'layouts/components/messages' %>
		<%= yield %>
		<%= render 'layouts/components/js' %>
	</body>
</html>
